rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {

    function isAdmin() {
      return request.auth != null
        && (
          request.auth.uid == 'hwvu4siXbGhcpbreCQfca6b1P0h1'
          || (
            request.auth.token.email != null
            && request.auth.token.email == 'joydas.21071997@gmail.com'
          )
        );
    }

    // Story Audio
    match /stories/audio/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }

    // Story Cover Images
    match /stories/covers/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }

    // Podcasts
    match /podcasts/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }

    // Everything else remains blocked
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
